<app-header></app-header>

<div class="container text-center">
    <h1 class="h1 my-4">Serveurs</h1>

    <p>Pour acceder aux informations des serveurs vous devez avoir les
        droits administrateur et le bot
        Einhar doit y etre invité.</p>

    <app-serveur-admin *ngFor="let guild of guilds_admin" (click)="changeBorder(guild.id)"
        [isActiveBorder]="tabServerActiveBorder.get(guild.id)" [guild]="guild"></app-serveur-admin>

    <h2>Autres serveurs</h2>
    <p>Vous n'avez pas les droits pour avoir les informations de ces serveurs.</p>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <app-serveur *ngFor="let guild of guilds" [guild]="guild"></app-serveur>
    </div>
</div>