<app-header></app-header>

<div class="container text-center my-4">
    <h1 class="h1">Serveurs</h1>
</div>

<div *ngFor="let guild of guilds_admin" class="container text-center my-3">
    <app-serveur-admin (click)="changeBorder(guild.id)" [isActiveBorder]="tabServerActiveBorder.get(guild.id)"
        [guild]="guild"></app-serveur-admin>
</div>

<h2 class="text-center">Autre serveurs</h2>
<p class="text-center">
    Vous n'avez pas les droits pour avoir les informations de ce serveur.
</p>

<div class="container d-flex justify-content-center">
    <div class="row row-cols-4">
        <div *ngFor="let guild of guilds" class="container text-center my-3">
            <app-serveur [guild]="guild"></app-serveur>
        </div>
    </div>
</div>