<app-header></app-header>

<div class="container text-center">

    <h1 class="h1 my-4">Emojis</h1>

    <app-selected-server [selectedServer]="selectedServer"></app-selected-server>

    <div *ngIf='!emojis && selectedServer' class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <app-emoji *ngFor="let emoji of emojis" [emoji]="emoji"></app-emoji>
    </div>

</div>