<div class="card text-white bg-dark my-2 mx-2">
    <div *ngIf='isFromSalons == true' class="card-header">
        <img src="https://cdn.discordapp.com/avatars/{{message.author.id}}/{{message.author.avatar}}" width="30"
            class="rounded" height="30" alt=""> {{message.author.username}}
    </div>
    <div *ngIf='message.content != ""' class="card-body">
        {{message.content}}
    </div>
    <div *ngIf='message.attachments != ""' class="card-body">
        <ul class="list-group list-group-flush">
            <li *ngFor="let attachment of message.attachments" class="list-group-item">{{attachment.url}} <br>
                {{attachment.filename}}</li>
        </ul>
    </div>
    <div class="card-footer text-muted">
        {{message.timestamp}}
    </div>
</div>