<div *ngIf="message.type == 0" class="card text-white bg-dark my-2 mx-2">
    <div *ngIf='isFromSalons == true' class="card-header">
        <img src="https://cdn.discordapp.com/avatars/{{message.author.id}}/{{message.author.avatar}}" width="30"
            class="rounded" height="30" alt=""> {{message.author.username}}
    </div>
    <div *ngIf='message.content != ""' class="card-body">
        {{message.content}}
    </div>
    <div *ngIf='message.attachments != ""' class="card-body">
        <ul class="list-group list-group-flush">
            <li *ngFor="let attachment of message.attachments" class="list-group-item">
                <a href=">{{attachment.url}}" class="link-primary">{{attachment.url}}</a>
                <br>
                {{attachment.filename}}
            </li>
        </ul>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        {{message.timestamp}}
        <div class="dropdown">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                ...
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" (click)="onDeleteMessage()">Supprimer</a></li>
                <li><a [class.disabled]="this.message.pinned" class="dropdown-item" (click)="onPinMessage()">Epingler</a>
                </li>
                <li><a [class.disabled]="!this.message.pinned" class="dropdown-item"
                        (click)="onUnpinMessage()">Désépingler</a></li>
            </ul>
        </div>
    </div>
</div>