<div [class.border-primary]="this.isActiveBorder == true" class="card text-white bg-dark">
    <h5 class="card-header">
        <img src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.webp" width="30" class="rounded"
            height="30" alt=""> {{ guild.name }}
    </h5>
    <div class="card-body">
        <p *ngIf="isBot == false && isAdmin == true" class="card-text">
            Vous devez inviter le bot pour avoir plus d'informations sur ce serveur.
        </p>
        <ul *ngIf="isBot == true && isAdmin == true" class="list-group list-group-flush">
            <li class="list-group-item">-Nombre de membres : {{guildInfo.data.approximate_member_count}}/{{guildInfo.data.max_members}}</li>
            <li class="list-group-item">-Niveau de boost : {{guildInfo.data.premium_tier}}</li>
            <li class="list-group-item">-Langue : {{guildInfo.data.preferred_locale}}</li>
            <li class="list-group-item">-Region : {{guildInfo.data.region}}</li>
        </ul>

        <!-- <ul *ngIf="isBot == true && isAdmin == true" class="list-group list-group-flush">
            <li class="list-group-item">-Surnom : {{guildMember.data.nick}}</li> 
        </ul> -->
    </div>
</div>