<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2F3136;">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="https://cdn.discordapp.com/avatars/875444482835886131/b01fbbba54334b19a06acd67f00eafa2.webp"
                    width="30" height="30" class="d-inline-block align-top rounded" alt="">
                Einhar
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Accueil</a>
                    <a class="nav-link" routerLink="/connections" routerLinkActive="active"
                        [class.disabled]="this.isLogged == false" [routerLinkActiveOptions]="{exact: true}">Connections</a>
                    <a class="nav-link" routerLink="/serveurs" routerLinkActive="active"
                        [class.disabled]="this.isLogged == false" [routerLinkActiveOptions]="{exact: true}">Serveurs</a>
                    <a class="nav-link" routerLink="/roles" routerLinkActive="active"
                        [class.disabled]="this.isLogged == false" [routerLinkActiveOptions]="{exact: true}">Roles</a>
                    <a class="nav-link" routerLink="/salons" routerLinkActive="active"
                        [class.disabled]="this.isLogged == false" [routerLinkActiveOptions]="{exact: true}">Salons</a>
                    <a class="nav-link" routerLink="/membres" routerLinkActive="active"
                        [class.disabled]="this.isLogged == false" [routerLinkActiveOptions]="{exact: true}">Membres</a>
                    <a class="nav-link" routerLink="/emojis" routerLinkActive="active"
                        [class.disabled]="this.isLogged == false" [routerLinkActiveOptions]="{exact: true}">Emojis</a>
                </div>
            </div>
            <span *ngIf="isLogged == true" class="navbar-text mx-2">
                {{ username }}
            </span>
            <div *ngIf="isLogged == true" [innerHTML]="avatar_icon"></div>
        </div>
    </nav>
</header>