<app-header></app-header>

<div class="container my-5 text-center">
    <img class="img-fluid" src="../../assets/einhar_logo_nom_blanc.png" alt="Logo Einhar Blanc" style="max-width: 75%;">
</div>

<div *ngIf="isLogged == false" class="container text-center my-5">
    <a class="btn btn-lg btn-danger"
        href="https://discord.com/api/oauth2/authorize?client_id=875444482835886131&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fauthentification&response_type=code&scope=identify%20connections%20guilds%20guilds.members.read"
        role="button">Connectez
        vous</a>
</div>

<div class="container my-4">
    <div *ngIf="error != undefined" class="alert alert-primary" role="alert">
        Erreur: {{ error }}, {{ error_description }}.
    </div>
</div>