<h1 class="h1 text-center my-4">Einhar Services</h1>

<div class="text-center my-5">
    <a class="btn btn-primary"
        href="https://discord.com/api/oauth2/authorize?client_id=875444482835886131&redirect_uri=http%3A%2F%2F192.168.1.11%3A4200&response_type=code&scope=identify%20guilds"
        role="button">Connectez
        vous</a>
</div>

<p class="text-center">Pour acceder aux informations des serveurs vous devez avoir les droits administrateur et le bot
    Eihnar doit y etre invité.</p>

<!-- <p class="text-center">code : {{code}}, token: {{token}}</p> -->