<div class="card text-white bg-dark" style="width: 18rem;">
    <h5 class="card-header" [ngStyle]="{'color': '#' + role.color.toString(16)}">
        {{ role.name }} <img *ngIf="role.icon != null" src="https://cdn.discordapp.com/icons/{{ role.icon }}.webp"
            width="30" class="rounded" height="30" alt="">
    </h5>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Permissions : {{ role.permissions }}</li>
            <li class="list-group-item">Mentionable : {{ role.mentionable }}</li>
        </ul>
    </div>
</div>