/* You can add global styles to this file, and also import other style files */
body {
    background-color: #36393F;
    color: white;
}

.list-group-item{
    background-color: #36393F; 
    color: white;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #AA1B1A !important;
    border-color: #AA1B1A;
}

.link-danger{
    color: #AA1B1A;
}

.modal-header, .modal-footer{
    background-color: #2F3136;
    color: white;
}

.modal-content{
    background-color: #36393F; 
    color: white;
}

a.disabled {
    pointer-events: none;
}