<app-header></app-header>

<div class="container text-center">

    <h1 class="h1 my-4">Membres</h1>

    <app-selected-server [selectedServer]="selectedServer"></app-selected-server>

    <div class="d-flex" style="height:70vh">
        <div class="col-3 overflow-auto">
            <app-membre *ngFor="let member of members" (click)="changeBorder(member.user.id)"
            [isActiveBorder]="tabMemeberActiveBorder.get(member.user.id)" [member]="member"></app-membre>
        </div>
        <div class="col-9 overflow-auto">
            <app-message *ngFor="let message of messages" [message]="message"></app-message>
        </div>
    </div>

</div>